.git
.gitignore
.github

node_modules/

dist/
build/
*.tsbuildinfo

test/
**/*.spec.ts
**/*.test.ts
vitest.config.ts
.eslintrc.cjs
.eslintrc.json
coverage/

.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
.DS_Store

postman/
*.ps1
README.md

Dockerfile
.dockerignore
